    workspace "terminal" {
        open-on-output "DP-3"
    }

    workspace "email" {
        open-on-output "DP-3"
    }

    workspace "web" {
        open-on-output "DP-3"
    }

    workspace "misc" {
        open-on-output "DP-3"
    }

    workspace "games" {
        open-on-output "DP-3"
    }

    window-rule {
        geometry-corner-radius 5 // Set every window radius to 20
        clip-to-geometry true
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
        open-on-workspace "games"
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
       open-on-workspace "games"
    }

    window-rule {
        match app-id="firefox"
        open-on-workspace "web"
        open-focused false
    }

    window-rule {
        match app-id="zen"
        open-on-workspace "web"
        open-focused false
    }

    window-rule {
        match app-id="tidal-hifi"
        open-on-workspace "games"
        open-focused false
    }

    window-rule {
        match app-id="kitty"
        open-on-workspace "terminal"
        open-focused false
    }

    window-rule {
        match app-id="org.mozilla.Thunderbird"
        open-on-workspace "email"
        open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
